.full-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: black;
    margin: 0;
    padding: 0;
    position: relative;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
    position: relative;
    z-index: 1;
}

.change-password-title {
    font-size: 48px;
    color: white;
    margin: 20px 0;
}

.password-form {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 400px;
    /* Adjust the width as needed */
}

.password-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.password-input {
    margin-bottom: 20px;
    width: 100%;
}

.password-input label {
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
    text-align: left;
    width: 100%;
    color: black;
}

.password-input input[type="password"] {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.password-input input[type="password"]:focus {
    outline: none;
    border-color: #555;
}

.save-button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    width: auto;
    font-size: 24px;
    transition: background-color 0.2s ease-in-out;
}

.save-button:hover {
    background-color: #333;
}