.domino {
    width: 5vw;
    height: 10vw;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.topnumber {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 30%;
    color: black;
    font-size: 125%;

}

.bottomnumber {
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 30%;
    color: black;
    font-size: 125%;

}

.line {
    width: 100%;
    border-top: 1px solid #000;
}