.StartingDomino {
    position: absolute;
    z-index: 2;
    rotate: 90deg;
    pointer-events: none;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.full-page {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    padding: 0;
    position: relative;
}

.bank {
    margin: 8px;
    background: rgb(246, 246, 246);
    border-radius: 12px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    height: auto;
    overflow-y: no;
    width: 350px;
    padding: 10px;
    overflow-x: none;
    gap: 8px;
    flex-wrap: wrap;
}

.banktitle {
    font-size: 30px;
    margin: 0;
    color: white;
}

.button {
    align-items: center;
    background: #f2f9f6;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.123);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.123);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.123);
    color: #191818;
    display: flex;
    font-size: 24px;
    font-weight: 1000;
    height: 80px;
    justify-content: center;
    line-height: auto;
    margin-top: 10px;
    max-width: 200px;
    padding: 15px 30px;
    width: 200px;
    z-index: 3;
}

.button:not([disabled]) {
    background: #d8d8d8;
    color: #a5a4a4;
}

.button:not([disabled]):hover {
    background: #ddf4ea;
}

.inner-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: auto;
    justify-content: space-evenly;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.players_turn {
    color: white;
    font-weight: 400;
    font-size: 32px;
}

.sidegroup {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 50%;
    justify-content: space-evenly;
    margin: 24px 0 0 0;
    max-width: 100%;
    position: relative;
    width: 2000px;
    z-index: 1;
}

.trainstation {
    height: 300px;
    width: 300px;
    z-index: 1;
}