.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    margin: 0;
    padding: 0;
    position: relative;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    /* Change text color to white */
    position: relative;
    z-index: 1;
}

.game-description,
.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    /* Add margin to separate sections */
}

.game-title {
    font-size: 48px;
    margin-bottom: 10px;
}

.game-info {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f9f6;
    padding: 40px;
    border-radius: 20px;
}

.input-field {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.login-button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.signup-prompt {
    margin-top: 20px;
}

.text,
.signup-link {
    color: white;
    text-align: center;
}

.signup-link {
    font-weight: 700;
    text-decoration: underline;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}