.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 20px;
}

.game-title {
    font-size: 40px;
    font-weight: 400;
    font-family: DM Serif Display, -apple-system, Roboto, Helvetica, sans-serif;
    margin: 0;
    text-decoration: none;
    color: #fff;
}

.settings-link {
    text-decoration: none;
    color: #fff;
}