.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Center items vertically */
    color: #fff;
    padding: 10px 20px;
    /* Add padding to the header */
}

.game-title {
    font-size: 40px;
    /* Adjusted font size */
    font-weight: 400;
    font-family: DM Serif Display, -apple-system, Roboto, Helvetica, sans-serif;
    margin: 0;
    /* Remove default margin */
    text-decoration: none;
    /* Remove default underline */
    color: #fff;
    /* Set color to white */
}

.game-image {
    aspect-ratio: 1.01;
    object-fit: cover;
    width: 80px;
}

@media (max-width: 991px) {
    .game-title {
        font-size: 24px;
        /* Adjusted font size for smaller screens */
    }
}